{% extends "@MertTicket/Main/base.html.twig" %}

{% block title %} Ticket Lists {% endblock %}

{% block body %}

    <div class="container">

        <div class="row">

            {% if is_granted('ROLE_ADMIN') %}
            <div class="col-md-12">
                <form class="form-inline" method="post" action="{{ path("ticket_list") }}">
                    <select>

                    </select>
                </form>
            </div>
            {% endif %}

            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('ticket_notice') %}

                    <div class="alert alert-success"> {{ flashMessage }} </div>

                {% endfor %}
                <div class="row">
                    <div class="col-md-6"><h2>My Tickets</h2></div>
                    <div class="col-md-6" style="text-align: right;"><h2><a href="" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Open a Ticket </a></h2></div>
                </div>
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>#Ticket ID</th>
                            <th>Ticket Title</th>
                            <th>Ticket Attachment</th>
                            <th>Ticket Created At</th>
                            <th>Ticket Status</th>
                            {% if is_granted('ROLE_ADMIN') %}
                                <th>Ticket Actions</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for ticket in tickets %}
                        <tr>
                            <td>{{ ticket.id }}</td>
                            <td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="#" title="{{ ticket.title }}" data-toggle="popover" data-trigger="focus" data-content="{{ ticket.content }}">{{ ticket.title }}</a>
                                {% else %}
                                    {{ ticket.title }}
                                {% endif %}
                            </td>
                            <td><a href="/uploads/{{ ticket.path }}">Download Attachment</a></td>
                            <td>{{ ticket.createdAt|date("d-m-Y H:i:s", "Europe/Istanbul") }}</td>
                            <td>{{ ticket.isSolved ? "<span class='label label-success'>Solved</span>" : "<span class='label label-danger'>Unsolved</span>" }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <div class="btn-group">
                                        {% if ticket.isSolved == false %}
                                            <a href="{{ path("tickets_change_status", {'ticket': ticket.id, 'status':1}) }}" type="button" class="btn btn-success">Mark as Solved</a>
                                        {% endif %}
                                        <a type="button" class="btn btn-default">Add Comment</a>
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}