{% extends "@MertTicket/Main/base.html.twig" %}

{% block title %} Ticket Lists {% endblock %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6"><h2>My Tickets</h2></div>
                    <div class="col-md-6" style="text-align: right;"><h2><a href="" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Open a Ticket </a></h2></div>
                </div>
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>#Ticket ID</th>
                            <th>Title</th>
                            <th>Attachment</th>
                            <th>Created At</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ticket in tickets %}
                        <tr>
                            <td>{{ ticket.id }}</td>
                            <td>{{ ticket.title }}</td>
                            <td><a href="/uploads/{{ ticket.path }}">Download Attachment</a></td>
                            <td>{{ ticket.createdAt|date("d-m-Y H:i:s", "Europe/Istanbul") }}</td>
                            <td>{{ ticket.isSolved ? "<span class='label label-success'>Solved</span>" : "<span class='label label-danger'>Unsolved</span>" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}